[Unit]
Description=CoffeeCherry Pi Server

[Service]
Environment="FLASK_APP=/home/pi/coffeecherry-pi/coffeecherry/coffeecherry.py"
ExecStart=/usr/bin/python3 -m flask run --host=0.0.0.0

[Install]
WantedBy=default.target
